body{
    background-color: rgb(154, 218, 248);
    color: rgb(23, 27, 54);
}

nav{
    padding:20px 50px;
    background:rgba(98, 207, 235, 0.25);  
    
    display: flex;
    justify-content: space-between;
}

header{
    text-align: center;
}

button{
    background-color: white;
    color: #08304f;

    border: none;

    padding: 10px 20px;
}
