body{
    background-color: rgb(154, 218, 248);
    color: rgb(23, 27, 54);
    margin: 0;

}

nav{
    padding:20px 50px;
    background:rgba(98, 207, 235, 0.25);  
    
    display: flex;
    justify-content: space-between;
}

.navlinks a{
    text-decoration: none;
    color: rgb(23, 27, 54);
    padding: 14px 20px;
    border-radius: 16px;
    
}

.navlinks a:hover{
    color: rgb(12, 53, 151);
}

.navlinks{
    display: flex;
    gap: 20px;
}

header{
    text-align: center;
    padding: 50px;
}

button{
    background-color: white;
    color: rgb(38, 39, 113);

    border: none;

    padding: 10px 20px;
    border-radius: 8px;
}

button:hover{
    background-color: rgb(220, 240, 250);
}

main{
    padding: 40px;
}

main h2{
    text-align: center;
}

.features{
    background-color: rgb(202, 230, 241);

    padding: 15px;
    border-radius: 12px;
    margin: 20px auto;
     width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featurecontainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .featurecontainer {
        flex-direction: column;
        align-items: center;
    }
    nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

footer{
    text-align: center;

    padding: 3px;

    background-color: rgb(175, 225, 245);

    margin-top: 60px;
}

